*{
    margin: 0;
    padding: 0;
}
#landlordHomePage{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#landlordHomePage p{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
#landlordDetail{
 background-color: rgba(171, 171, 171, 0.077);

}
#tenantListContainer{
    background-color: rgba(171, 171, 171, 0.077);
}
#maintananceFeedback{
    background-color: rgba(171, 171, 171, 0.077);
}
.landDivs{
    height: 200px;
    width: 400px;
    border-radius: 20px;
    background-color: rgba(171, 171, 171, 0.077);
    margin-right: 60px;
}
#landlordHomePage button{
    display: block;
    justify-self: center;
    margin-top: 30px;
    width: 200px;
    height: 50px;
}