*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 20px;
}
select{
    width: 250px;
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
}
#role{
    background-color: rgba(171, 171, 171, 0.077);
    margin-top: 30px;
    padding: 20px;
    display: block;
    justify-self: center;
    width: 600px;
    height: 300px;
}
.content{
    margin-top: 60px;
    display: block;
    justify-self: center;
}